@media (max-width: 1024px) {
  #navSmall .navbar-brand img {
    margin-left: -25px; }
  #navSmall .navbar-nav {
    margin-left: 70%; }

  #mainContent {
    margin-top: 0px; }
    #mainContent .profile {
      border-right: 0px;
      padding-bottom: 25px; }
      #mainContent .profile .userPhoto {
        position: absolute;
        bottom: 5px;
        right: 25%; }
      #mainContent .profile #pizzaScoreContainer {
        position: absolute;
        bottom: 20px;
        right: 5%; } }
@media (max-width: 768px) {
  #navLarge .navbar-header {
    margin-left: 43%;
    margin-top: -45px; }
    #navLarge .navbar-header img {
      height: 110px;
      margin: -8px 0px 0px -25px; }
  #navLarge #logoBacker {
    height: 120px;
    width: 120px; }
  #navLarge form {
    margin-left: 15px; }
    #navLarge form input {
      width: 180px; }
  #navLarge .navbar-nav {
    margin-top: -141px; }

  #mainContent .profile .userPhoto {
    position: absolute;
    right: 30%; } }
@media (max-width: 736px) {
  #navLarge {
    height: 130px; }
    #navLarge .navbar-header {
      margin-left: 41%;
      margin-top: -70px;
      margin-right: 0px; }
    #navLarge .navbar-form {
      border: 0px; }
      #navLarge .navbar-form form {
        margin-left: 10px;
        padding: 0px;
        width: 500px; }
        #navLarge .navbar-form form input {
          width: 230px; }
        #navLarge .navbar-form form button {
          padding-left: 220px;
          font-size: 30px; }
    #navLarge .navbar-nav {
      margin: -86px 0px 0px -10px; }

  #mainContent .profile .userPhoto {
    position: absolute;
    right: 31%;
    bottom: -10px; } }
@media (max-width: 732px) {
  #navLarge .navbar-nav {
    margin: -87px 0px 0px -40px; } }
@media (max-width: 667px) {
  #mainContent .profile .userPhoto {
    position: absolute;
    right: 31%; } }
@media (max-width: 640px) {
  #navLarge .navbar-nav {
    margin: -79px 0px 0px -40px;
    font-size: 25px; } }
@media (max-width: 568px) {
  #navLarge .navbar-nav {
    margin: -138px -15px 0px 0px;
    font-size: 25px; }

  #mainContent .profile .userPhoto {
    position: absolute;
    right: 34%; } }
@media (max-width: 414px) {
  #navLarge {
    height: 200px; }
    #navLarge .navbar-header {
      margin-top: -37px;
      margin-left: 36%; }
    #navLarge .navbar-nav {
      position: relative;
      width: 70%;
      margin: -282px 10%;
      font-size: 30px; }
    #navLarge form {
      width: 250px;
      margin: 60px 0px 0px 45px; }
      #navLarge form button {
        margin: -95px 0px 0px 190px; }

  #mainContent .profile .userPhoto {
    position: static; }
  #mainContent .profile #pizzaScoreContainer {
    position: static; } }
@media (max-width: 360px) {
  #navLarge .navbar-nav {
    font-size: 25px;
    position: relative;
    width: 70%;
    margin: -282px 7%; }
  #navLarge form {
    margin: 60px 0px 0px 25px; } }
@media (max-width: 320px) {
  #navLarge form {
    margin: 60px 0px 0px 0px; }

  #mainContent .profile .userPhoto {
    height: 120px;
    width: 120px; }
  #mainContent .profile h2 {
    font-size: 35px; }
  #mainContent .profile #pizzaScoreContainer {
    margin-top: -120px; } }

/*# sourceMappingURL=mediaStyles.css.map */
