@media (max-width: 1370px) {
  #bigun #mainContent .profile .userPhoto {
    height: 135px;
    width: 135px; }
  #bigun #mainContent .profile #pizzaScoreContainer {
    position: absolute;
    top: 205px;
    right: 5%; } }
@media (max-width: 1280px) {
  #bigun #mainContent .profile .userPhoto {
    height: 140px;
    width: 140px; }
  #bigun #mainContent .profile #pizzaScoreContainer {
    position: absolute;
    top: 205px;
    right: 5%; } }
@media (max-width: 1024px) {
  #navLarge form {
    margin-left: -50px; }
    #navLarge form input {
      width: 180px; }

  #navSmall .navbar-brand img {
    margin-left: -25px; }
  #navSmall .navbar-nav {
    margin-left: 70%; }

  #bigun #mainContent {
    margin-top: 0px; }
    #bigun #mainContent .profile {
      border-right: 0px;
      padding-bottom: 25px; }
      #bigun #mainContent .profile .userPhoto {
        position: absolute;
        bottom: -10px;
        right: 30%; }
      #bigun #mainContent .profile #pizzaScoreContainer {
        position: absolute;
        top: auto;
        bottom: 10px;
        right: 5%; }

  footer #footR form textarea {
    display: block;
    margin-bottom: 15px;
    height: 220px;
    width: 290px; } }
@media (max-width: 800px) {
  #navLarge .navbar-header {
    margin-left: 43%;
    margin-top: -45px; }
    #navLarge .navbar-header img {
      height: 110px;
      margin: -8px 0px 0px -25px; }
  #navLarge #logoBacker {
    height: 120px;
    width: 120px; }
  #navLarge form {
    margin-left: 15px; }
    #navLarge form input {
      width: 180px; }
  #navLarge .navbar-nav {
    margin-top: -143px; }

  #bigun #mainContent .profile .userPhoto {
    position: absolute;
    right: 30%; }

  footer #footR {
    border-right: 0px; } }
@media (max-width: 736px) {
  #navLarge {
    height: 130px; }
    #navLarge .navbar-header {
      margin-left: 41%;
      margin-top: -70px;
      margin-right: 0px; }
    #navLarge .navbar-form {
      border: 0px; }
      #navLarge .navbar-form form {
        margin-left: 10px;
        padding: 0px;
        width: 500px; }
        #navLarge .navbar-form form input {
          width: 230px; }
        #navLarge .navbar-form form button {
          padding-left: 220px;
          font-size: 30px; }
    #navLarge .navbar-nav {
      margin: -86px 0px 0px -10px; }

  #bigun #mainContent .profile .userPhoto {
    position: absolute;
    right: 31%;
    bottom: -10px; } }
@media (max-width: 732px) {
  #navLarge .navbar-nav {
    margin: -87px 0px 0px -40px; } }
@media (max-width: 667px) {
  #bigun #mainContent .profile .userPhoto {
    position: absolute;
    right: 31%; } }
@media (max-width: 640px) {
  #navLarge .navbar-nav {
    margin: -80px 0px 0px -40px;
    font-size: 25px; } }
@media (max-width: 568px) {
  #navLarge .navbar-nav {
    margin: -138px -15px 0px 0px;
    font-size: 25px; }

  #bigun #mainContent .profile .userPhoto {
    position: absolute;
    right: 34%; }

  #resumeBox {
    margin-top: 50px; }
    #resumeBox #myPic {
      display: block;
      margin: 20px auto; }
    #resumeBox h1 {
      display: block;
      position: static;
      text-align: center; } }
@media (max-width: 480px) {
  #navLarge {
    height: 200px; }
    #navLarge .navbar-header {
      margin-top: -37px;
      margin-left: 36%; }
    #navLarge .navbar-nav {
      position: relative;
      width: 70%;
      margin: -282px 10%;
      font-size: 30px; }
    #navLarge form {
      width: 250px;
      margin: 60px 0px 0px 45px; }
      #navLarge form button {
        margin: -95px 0px 0px 190px; }

  #bigun #mainContent .profile h2 {
    padding: 15px 0px; }
  #bigun #mainContent .profile .userPhoto {
    position: static; }
  #bigun #mainContent .profile #pizzaScoreContainer {
    position: static;
    margin-top: -135px; }

  #loginBox {
    margin-top: 150px; } }
@media (max-width: 360px) {
  #navLarge .navbar-nav {
    font-size: 25px;
    position: relative;
    width: 70%;
    margin: -282px 7%; }
  #navLarge form {
    margin: 60px 0px 0px 25px; }

  #bigun #mainContent .profile .userPhoto {
    height: 130px;
    width: 130px; } }
@media (max-width: 320px) {
  #navLarge form {
    margin: 60px 0px 0px 0px; }

  #bigun #mainContent .profile .userPhoto {
    height: 120px;
    width: 120px; }
  #bigun #mainContent .profile h2 {
    font-size: 35px; }
  #bigun #mainContent .profile #pizzaScoreContainer {
    margin-top: -130px; } }

/*# sourceMappingURL=mediaStyles.css.map */
