body {
  background-color: #ffe3bd;
  margin: 0px;
  overflow-x: hidden; }

#navSmall {
  background-color: #de9939;
  height: 50px;
  font-family: "Lato", "sans-serif";
  font-size: 25px;
  border: 0px;
  width: 100%;
  position: fixed;
  display: none;
  box-shadow: 10px 0px 5px #888;
  z-index: 4; }
  #navSmall form {
    margin-left: 7%;
    margin-top: 0px; }
    #navSmall form input {
      font-size: 20px; }
    #navSmall form button {
      font-size: 15px; }
  #navSmall .navbar-header {
    position: absolute;
    width: auto;
    display: inline-block; }
  #navSmall .navbar-brand > img {
    height: 65px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
    margin-top: -20px; }
  #navSmall .navbar-nav {
    float: right;
    position: absolute;
    margin-left: 80%; }
    #navSmall .navbar-nav .myActive {
      background-color: #ffb042; }
    #navSmall .navbar-nav li a {
      color: #fff;
      text-align: center;
      height: auto;
      height: 50px; }
    #navSmall .navbar-nav li a:hover {
      color: #DDDDDD;
      text-decoration: none; }

#navLarge {
  background-color: #ffb042;
  height: 100px;
  font-family: "Lato", "sans-serif";
  font-size: 30px;
  border: 0px;
  width: 100%;
  padding-top: 30px;
  display: inline-block;
  padding: 30px 10px 0px 0px;
  z-index: 5; }
  #navLarge form {
    margin-top: 0px; }
    #navLarge form input {
      font-size: 20px; }
    #navLarge form button {
      font-size: 15px;
      margin-top: 8px; }
  #navLarge .navbar-header {
    width: 170px;
    margin-left: 44%;
    margin-right: 50%;
    margin-top: -71px;
    display: inline-block; }
  #navLarge .navbar-brand > img {
    height: 150px;
    width: auto;
    display: inline-block;
    margin-left: -26px; }
  #navLarge .navbar-nav {
    display: inline-block;
    float: right;
    margin-top: -165px; }
    #navLarge .navbar-nav .myActive {
      background-color: #de9939; }
    #navLarge .navbar-nav th {
      padding: 15px; }
    #navLarge .navbar-nav th a {
      color: #fff;
      text-align: center;
      padding-bottom: 34px; }
    #navLarge .navbar-nav th a:hover {
      color: #DDDDDD;
      text-decoration: none; }

#logoBacker {
  background-color: #fff;
  height: 170px;
  width: 170px;
  border-radius: 170px;
  border: 1px solid black;
  display: inline-block; }

#mainSearch {
  margin-top: 5px; }

#bigun {
  width: auto; }
  #bigun #myModal .modal-content .modal-header {
    background-color: #ffb042; }
    #bigun #myModal .modal-content .modal-header .modal-title {
      font-family: "Lato", "sans-serif";
      font-size: 25px; }
  #bigun #myModal .modal-content .modal-body {
    background-color: #ffe3bd; }
    #bigun #myModal .modal-content .modal-body .secLabel {
      font-family: "Lato", "sans-serif";
      font-size: 20px;
      display: block;
      width: 100%; }
    #bigun #myModal .modal-content .modal-body #picFail {
      color: red;
      font-style: italic;
      display: none; }
    #bigun #myModal .modal-content .modal-body button {
      background-color: #DDDDDD;
      font-size: 17px; }
    #bigun #myModal .modal-content .modal-body button:hover {
      background-color: aliceblue; }
  #bigun #myModal .modal-content .modal-footer {
    background-color: #ffca80; }
  #bigun #mainContent {
    z-index: 3;
    margin-top: 105px;
    height: auto; }
    #bigun #mainContent .profile {
      border-right: 2px solid black;
      height: auto;
      overflow: visible;
      position: relative; }
      #bigun #mainContent .profile .userPhoto {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        border: 4px solid #DDDDDD;
        overflow: hidden; }
        #bigun #mainContent .profile .userPhoto img {
          height: 150px;
          width: auto; }
      #bigun #mainContent .profile #pizzaScoreContainer {
        float: right;
        margin-top: -150px; }
        #bigun #mainContent .profile #pizzaScoreContainer h3 {
          color: #666666;
          font-family: "Lato", "sans-serif";
          margin: 0px 0px;
          font-size: 30px;
          right: 20px;
          top: 15px; }
        #bigun #mainContent .profile #pizzaScoreContainer .pizzaCounter {
          width: 150px;
          height: 90px;
          border-radius: 10px;
          background-color: rgba(255, 176, 66, 0.7);
          border: 2px solid #de9939;
          top: 52px;
          right: 20px;
          padding: 5px; }
          #bigun #mainContent .profile #pizzaScoreContainer .pizzaCounter .pizzaNum {
            font-size: 50px;
            color: #fff;
            width: 20%;
            margin: 0px auto; }
      #bigun #mainContent .profile h2 {
        font-size: 35px;
        font-family: "Lato", "sans-serif";
        color: #de9939;
        top: 160px; }
      #bigun #mainContent .profile .bioText {
        top: 245px;
        font-family: "Abel", "sans-serif";
        border-left: 3px solid #666666;
        font-size: 25px;
        padding: 0px 20px;
        max-height: 15em;
        overflow: scroll; }
      #bigun #mainContent .profile .cardAddBtn {
        width: 200px;
        height: 100px;
        background-color: #DDDDDD;
        border: 3px solid #666666;
        border-radius: 10px;
        margin-top: 15px; }
        #bigun #mainContent .profile .cardAddBtn .addBtnTxt {
          color: #666666;
          width: 120px;
          float: right;
          position: relative;
          text-align: center;
          padding: 6px;
          font-size: 21px;
          margin-top: 10px; }
        #bigun #mainContent .profile .cardAddBtn i {
          color: #666666;
          font-size: 54px;
          margin: 15px 0px 0px 0px; }
      #bigun #mainContent .profile .cardAddBtn:hover {
        background-color: #666666;
        border: 3px solid #DDDDDD;
        cursor: pointer; }
        #bigun #mainContent .profile .cardAddBtn:hover i {
          color: #DDDDDD;
          font-size: 54px; }
        #bigun #mainContent .profile .cardAddBtn:hover .addBtnTxt {
          color: #DDDDDD; }
    #bigun #mainContent #cardCol {
      padding: 0px 30px;
      margin: 0px; }
      #bigun #mainContent #cardCol .orderToggle {
        margin-top: -17px; }
        #bigun #mainContent #cardCol .orderToggle .sortActive {
          color: #666666; }
      #bigun #mainContent #cardCol #date:hover,
      #bigun #mainContent #cardCol #tasty:hover {
        text-decoration: underline;
        cursor: pointer; }
      #bigun #mainContent #cardCol #welcome {
        text-align: center;
        border: 2px solid #c0d6f9;
        background-color: #f9fafc;
        margin-bottom: 15px;
        display: none; }
        #bigun #mainContent #cardCol #welcome h3 {
          font-family: "Lato", "sans-serif";
          font-size: 60px;
          padding: 15px; }
        #bigun #mainContent #cardCol #welcome #welcomeList {
          width: 80%;
          margin: 0px auto;
          border-top: 2px solid #DDDDDD; }
          #bigun #mainContent #cardCol #welcome #welcomeList h4 {
            font-size: 25px;
            padding: 10px; }
          #bigun #mainContent #cardCol #welcome #welcomeList h6 {
            font-size: 16px;
            border-bottom: 2px solid #DDDDDD;
            padding: 17px; }
          #bigun #mainContent #cardCol #welcome #welcomeList img {
            width: 70px;
            padding: 10px; }
          #bigun #mainContent #cardCol #welcome #welcomeList ul {
            text-align: left; }
            #bigun #mainContent #cardCol #welcome #welcomeList ul li {
              padding: 8px;
              font-size: 17px; }
      #bigun #mainContent #cardCol .cardAdd {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 50%;
        margin: 0px auto; }
        #bigun #mainContent #cardCol .cardAdd h2 {
          color: #666666;
          font-size: 35px; }
        #bigun #mainContent #cardCol .cardAdd i {
          color: #666666;
          font-size: 75px; }
      #bigun #mainContent #cardCol .cardAdd:hover {
        cursor: pointer; }
        #bigun #mainContent #cardCol .cardAdd:hover h2,
        #bigun #mainContent #cardCol .cardAdd:hover i {
          color: black; }
    #bigun #mainContent .pizzaCard {
      border: 3px solid #de9939;
      background-color: #ffca80;
      height: auto;
      margin-bottom: 20px; }
      #bigun #mainContent .pizzaCard h2 {
        font-family: "Lato", "sans-serif";
        margin: 15px 0px 0px 15px;
        text-decoration: underline; }
      #bigun #mainContent .pizzaCard .cardFlex {
        display: flex;
        flex-flow: row wrap; }
        #bigun #mainContent .pizzaCard .cardFlex h4 {
          font-family: "Lato", "sans-serif";
          font-size: 20px;
          text-decoration: underline; }
        #bigun #mainContent .pizzaCard .cardFlex .pizzaPhoto {
          height: 230px;
          width: 230px;
          border: 2px solid #DDDDDD;
          border-radius: 150px;
          margin: 10px;
          overflow: hidden; }
          #bigun #mainContent .pizzaCard .cardFlex .pizzaPhoto img {
            height: 235px;
            width: auto; }
        #bigun #mainContent .pizzaCard .cardFlex .basics {
          font-family: "Abel", "sans-serif";
          font-size: 23px;
          max-width: 250px; }
        #bigun #mainContent .pizzaCard .cardFlex .rankings {
          margin-left: 15px;
          max-width: 300px; }
          #bigun #mainContent .pizzaCard .cardFlex .rankings .rankBox {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around; }
            #bigun #mainContent .pizzaCard .cardFlex .rankings .rankBox .rankItem {
              width: 75px;
              display: flex;
              flex-flow: column nowrap;
              align-items: center; }
          #bigun #mainContent .pizzaCard .cardFlex .rankings .thinCrust {
            background-color: #DDDDDD;
            border-radius: 10px;
            text-align: center;
            width: 235px;
            margin: 7px 0px;
            font-family: "Lato", "sans-serif";
            font-size: 20px; }
          #bigun #mainContent .pizzaCard .cardFlex .rankings .medCrust {
            background-color: #DDDDDD;
            border-radius: 10px;
            text-align: center;
            width: 235px;
            margin: 7px 0px;
            font-family: "Lato", "sans-serif";
            font-size: 20px;
            height: 40px; }
          #bigun #mainContent .pizzaCard .cardFlex .rankings .thickCrust {
            background-color: #DDDDDD;
            border-radius: 10px;
            text-align: center;
            width: 235px;
            margin: 7px 0px;
            font-family: "Lato", "sans-serif";
            font-size: 20px;
            height: 60px; }
        #bigun #mainContent .pizzaCard .cardFlex .useCom {
          min-width: 100px;
          margin: 15px; }
          #bigun #mainContent .pizzaCard .cardFlex .useCom .comment {
            border: 2px solid #ffb042;
            overflow: scroll;
            padding: 10px;
            font-family: "Abel", "sans-serif";
            font-size: 18px;
            border-radius: 10px;
            background-color: #ffe3bd;
            max-height: 85px; }
        #bigun #mainContent .pizzaCard .cardFlex .toppings {
          margin-left: 15px; }
          #bigun #mainContent .pizzaCard .cardFlex .toppings .toppingList {
            font-size: 22px;
            font-family: "Abel", "sans-serif"; }

footer {
  background-color: #FFCA80;
  height: auto;
  margin: 15px 0px 0px 0px;
  position: relative;
  z-index: 5; }
  footer #footR {
    border-right: 2px solid black;
    margin: 20px 0px; }
    footer #footR h4 {
      font-family: "Lato", "sans-serif"; }
    footer #footR p {
      font-family: "Abel", "sans-serif"; }
    footer #footR input {
      display: block;
      margin-bottom: 10px; }
    footer #footR #em {
      width: 200px; }
    footer #footR textarea {
      width: 360px;
      height: 200px;
      resize: none;
      display: none; }
    footer #footR #send {
      border-radius: 10px;
      background-color: #666666;
      font-size: 14px;
      font-family: "Lato", "sans-serif";
      color: #fff;
      width: 70px;
      height: 40px;
      border: 0px; }
    footer #footR #send:hover {
      background-color: #DDDDDD;
      color: #000; }
    footer #footR #sent {
      display: none;
      font-family: "Abel", "sans-serif";
      font-size: 20px; }
  footer #footL {
    color: #666666;
    height: 100%; }
    footer #footL .footLink {
      font-size: 22px;
      margin: 30px 20px; }
    footer #footL a {
      text-decoration: none;
      color: #666666; }
    footer #footL a:hover {
      color: #DDDDDD; }
    footer #footL #priv:hover {
      cursor: pointer;
      color: #DDDDDD; }

#loginBox {
  background-color: #ffb042;
  border-radius: 20px;
  margin-top: 15%;
  margin-bottom: 100px;
  padding: 0px;
  height: auto; }
  #loginBox #loginHead {
    text-align: center; }
    #loginBox #loginHead #logoBackerL {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      margin-top: -85px;
      background-color: #fff;
      height: 170px;
      width: 170px;
      border-radius: 170px;
      border: 1px solid black;
      display: inline-block; }
      #loginBox #loginHead #logoBackerL img {
        height: 170px;
        width: auto;
        display: inline-block;
        margin-left: -22px; }
    #loginBox #loginHead h3 {
      font-family: "Lato", "sans-serif";
      font-style: italic;
      font-size: 23px;
      color: #666666; }
  #loginBox #login {
    text-align: center;
    background-color: #ffca80;
    color: #000;
    width: 100%;
    margin: 0px;
    border-bottom: 2px solid #DDDDDD; }
    #loginBox #login h1 {
      font-size: 40px;
      padding: 15px 0px; }
    #loginBox #login h1:hover {
      color: #666666;
      cursor: pointer; }
    #loginBox #login #failure {
      text-align: center;
      font-family: "Abel", "sans-serif";
      color: red;
      font-size: 17px;
      font-style: italic;
      display: none; }
  #loginBox #register {
    text-align: center;
    background-color: #ffca80;
    color: #000;
    width: 100%;
    margin: 0px; }
    #loginBox #register h1 {
      font-size: 40px;
      padding: 15px 0px; }
    #loginBox #register h1:hover {
      color: #666666;
      cursor: pointer; }
    #loginBox #register h1 {
      margin: 0px; }
    #loginBox #register #regBiz {
      display: none;
      background-color: #fff; }
      #loginBox #register #regBiz #regForm {
        padding: 15px; }
        #loginBox #register #regBiz #regForm #failure2 {
          text-align: center;
          font-family: "Abel", "sans-serif";
          color: red;
          font-size: 17px;
          font-style: italic;
          display: none; }
        #loginBox #register #regBiz #regForm label {
          font-family: "Lato", "sans-serif";
          font-size: 30px;
          color: #666666; }
        #loginBox #register #regBiz #regForm button {
          font-size: 20px;
          color: #666666;
          font-family: "Lato", "sans-serif"; }
  #loginBox #loginBiz {
    display: none;
    background-color: #fff; }
    #loginBox #loginBiz #logForm {
      padding: 15px; }
      #loginBox #loginBiz #logForm label {
        font-family: "Lato", "sans-serif";
        font-size: 30px;
        color: #666666; }
      #loginBox #loginBiz #logForm button {
        font-size: 20px;
        color: #666666;
        font-family: "Lato", "sans-serif"; }
  #loginBox #landingFoot {
    height: auto;
    padding: 15px 35px;
    font-family: "Abel", "sans-serif";
    font-size: 15px; }
    #loginBox #landingFoot h4 {
      color: #666666;
      font-family: "Lato", "sans-serif"; }
    #loginBox #landingFoot h4:hover {
      color: #DDDDDD;
      cursor: pointer; }
    #loginBox #landingFoot #footCopy {
      display: none; }

#resumeBox {
  border: 3px solid #de9939;
  border-radius: 20px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: #ffca80; }
  #resumeBox #myPic {
    height: 170px;
    width: 170px;
    margin: 20px auto;
    border: 2px solid #666666;
    border-radius: 170px;
    background-image: url(Assets/shane.uncleho.jpg);
    background-position: center;
    background-size: contain;
    display: block; }
  #resumeBox h1 {
    font-family: "Lato", "sans-serif";
    font-size: 50px;
    color: #444;
    display: block;
    text-align: center; }
  #resumeBox #bodStyle {
    background-color: #ffe3bd;
    border: 2px solid #ffb042;
    margin: 10px 0px; }
    #resumeBox #bodStyle #bodyContent {
      font-size: 25px;
      font-family: "Abel", "sans-serif";
      margin: 10px 40px; }
    #resumeBox #bodStyle #contacts {
      list-style: none;
      margin: 15px auto;
      width: 50%;
      padding: 5px;
      border-top: 2px solid #ffb042; }
      #resumeBox #bodStyle #contacts li {
        font-size: 27px;
        display: inline-block; }
      #resumeBox #bodStyle #contacts #em {
        display: none;
        font-size: 22px; }
      #resumeBox #bodStyle #contacts .icon {
        margin: 10px; }
        #resumeBox #bodStyle #contacts .icon i {
          color: #444;
          font-size: 55px; }
        #resumeBox #bodStyle #contacts .icon i:hover {
          color: #666666;
          cursor: pointer; }

#myModal1 .modal-content .modal-header {
  background-color: #ffb042; }
  #myModal1 .modal-content .modal-header .modal-title {
    font-family: "Lato", "sans-serif";
    font-size: 30px; }
#myModal1 .modal-content .modal-body {
  background-color: #ffe3bd;
  font-family: "Abel", "sans-serif";
  font-size: 25px; }
#myModal1 .modal-content .modal-footer {
  background-color: #ffca80; }

/*# sourceMappingURL=style.css.map */
